<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test">
		<parameter name="username" value="mohanavelk@wowtruck.in"></parameter>
		<parameter name="password" value="wowtruck"></parameter>
		<classes>
			<class name="amazon.ExecuteClass" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
